.conatiner {
  display: grid;
grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem));
justify-content: center;
}

.overall-layout {
grid-column: container-start/container-end;
}

.sec-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.padd {
  padding: calc(1rem + 8vh) calc(1rem + 8vw);
}

a, input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

input[type=submit] {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}


